body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.card {
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    margin: 20px auto;
    padding: 10px;
}

button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.search-container {
    margin-top: 20px;
}

.filter-container {
    margin-top: 20px;
}

#filteredTable {
    margin-top: 20px;
    padding: 10px; /* Adiciona padding para a div que contém a tabela */
}

/* Adicione estilos para a tabela */
#filteredTable table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#filteredTable th, #filteredTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#filteredTable th {
    background-color: #f2f2f2;
}
